header {
 background-color: #efefef;
 padding-top: 1rem;
 padding-bottom: 1rem;
 height: 5rem;
 border-bottom: 0.02rem solid lightgray;
 display: flex;
 flex-direction: row-;

}



main {
    display: flex;
}



nav {
    border-right: 0.02rem solid lightgrey;
    background-color: #efefef;
    padding-right: 4rem;
    height: 100vh;
   
}

.container {
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 5rem;
}

#menu  {
    
    
   
    gap: 1rem;
    padding-top: 1%;
}



